In [6]:
import mysql.connector
import pandas as pd
from datetime import date
import random as rnd
import datetime

In [7]:
con = mysql.connector.connect(host='127.0.0.1', database='library', port=3306, user='root', password='')

In [8]:
cur = con.cursor(dictionary=True)

In [11]:
# cur.close()
# con.close()

# Генерим данные  и заполняем табличку members

## Нужно заполнить поля: 
- name
- phone
- email

### Генерим телефон

In [146]:
def gen_phone(n):
    nmbs = []
    for _ in range(n):
        nmb = [str(n) for n in rnd.choices(range(0,10), k=9)]     
        nmbs.append('89'+''.join(nmb))
    return nmbs

In [149]:
phones = gen_phone(50)

In [153]:
len(phones)

50

In [154]:
phones[:10]

['89865952994',
 '89379889976',
 '89469654744',
 '89731858269',
 '89394589657',
 '89836300803',
 '89848599126',
 '89314204742',
 '89881775621',
 '89600176569']

### Достаем имена

In [82]:
!pip install beautifulsoup4
! pip install requests

Collecting beautifulsoup4
  Downloading beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.1-py3-none-any.whl (37 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.10.0 soupsieve-2.3.1
Requirement already satisfied: requests in c:\program files\python\lib\site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\program files\python\lib\site-packages (from requests) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\program files\python\lib\site-packages (from requests) (1.26.6)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\program files\python\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\program files\python\lib\site-packages (from requests) (3.2)

In [7]:
import requests
from bs4 import BeautifulSoup

In [104]:
count = 50
link = 'https://randomus.ru/name?type=0&sex=10&count={}'.format(count)
result = requests.get(link)
html = result.text
soup = BeautifulSoup(html,'html.parser')
names = soup.find('div', {'class':"field is-grouped is-grouped-multiline"}).get_text()

In [105]:
names = names.split('\n\n\n\n\n')

In [106]:
names = [name.replace('\n','') for name in names]

In [144]:
len(names)

50

In [109]:
names[:10]

['Овсянников Егор Иванович',
 'Ефимова Анастасия Михайловна',
 'Баранов Александр Михайлович',
 'Сорокина Антонина Матвеевна',
 'Шаповалова Ольга Львовна',
 'Кузнецова Вероника Викторовна',
 'Харитонова Кристина Николаевна',
 'Корнеев Арсений Александрович',
 'Смирнова Вероника Фёдоровна',
 'Козлова Александра Дмитриевна']

### Email'ы

In [111]:
import string
alphabet = string.ascii_lowercase

In [137]:
def gen_emails(n):
    emails = []
    for _ in range(n):
        emails.append(''.join(\
            rnd.choices(alphabet, \
            k=rnd.randint(6,10)))\
            +'@gmail.com')
    return emails

In [143]:
emails = gen_emails(50)

### Даты

In [278]:
def gen_dates(n):
    dates = []
    for _ in range(n):
        startdate=datetime.date(2017,12,20)
        date=startdate+datetime.timedelta(rnd.randint(1,1462))
        dates.append(date.strftime("%Y-%m-%d"))
    return dates

In [281]:
dates = gen_dates(50)

### Заполняем

In [169]:
sss = f"DELETE FROM members" # delete all rows
cur.execute(sss)
con.commit()

In [171]:
sss = f"ALTER TABLE members AUTO_INCREMENT = 1" # reset id to 1
cur.execute(sss)
con.commit()

In [172]:
cur.execute("SELECT * FROM members") # check that table is clear
data=cur.fetchall()
data

[]

In [282]:
for info in list(zip(names, phones, emails, dates)):
    sss = "INSERT INTO members (name, phone, email, reg_date) \
            VALUES {}".format(info)
    cur.execute(sss)

In [287]:
con.commit()

In [292]:
cur.execute("SELECT * FROM members ORDER BY reg_date LIMIT 1")
data=cur.fetchall()
data

[{'id_member': 32,
  'name': 'Черная Ника Романовна',
  'phone': '89969320699',
  'email': 'bwguvaui@gmail.com',
  'reg_date': datetime.date(2018, 1, 8)}]

# Жанры

In [35]:
sss = f"DELETE FROM category" # delete all rows
cur.execute(sss)
sss = f"ALTER TABLE category AUTO_INCREMENT = 1"
cur.execute(sss)
con.commit()

In [38]:
cur.execute("SELECT * FROM category") # check that table is clear
data=cur.fetchall()
data

[{'id_category': 1, 'cat_name': 'Кулинарные рецепты'},
 {'id_category': 2, 'cat_name': 'Современная русская проза'},
 {'id_category': 3, 'cat_name': 'Современные любовные романы'},
 {'id_category': 4, 'cat_name': 'Триллеры'},
 {'id_category': 5, 'cat_name': 'Журналистские расследования'},
 {'id_category': 6, 'cat_name': 'Эзотерические знания'},
 {'id_category': 7, 'cat_name': 'Эссе, письма, очерки'}]

In [26]:
categories = ['Кулинарные рецепты', 'Современная русская проза', 'Современные любовные романы',\
             'Триллеры', 'Журналистские расследования', 'Эзотерические знания', 'Эссе, письма, очерки']

In [37]:
for cat in categories:
    sss = "INSERT INTO category (cat_name) VALUES ('{}')".format(cat)
    cur.execute(sss)

In [39]:
con.commit()

In [177]:
cur.execute("SELECT * FROM category") # check that table is clear
data=cur.fetchall()
data

[{'id_category': 1, 'cat_name': 'Кулинарные рецепты'},
 {'id_category': 2, 'cat_name': 'Современная русская проза'},
 {'id_category': 3, 'cat_name': 'Современные любовные романы'},
 {'id_category': 4, 'cat_name': 'Триллеры'},
 {'id_category': 5, 'cat_name': 'Журналистские расследования'},
 {'id_category': 6, 'cat_name': 'Эзотерические знания'},
 {'id_category': 7, 'cat_name': 'Эссе, письма, очерки'}]

# Книжки

Очищаем таблицу

In [409]:
sss = f"DELETE FROM books" # delete all rows
cur.execute(sss)
sss = f"ALTER TABLE books AUTO_INCREMENT = 1"
cur.execute(sss)
con.commit()

In [410]:
cur.execute("SELECT * FROM books") # check that table is clear
data=cur.fetchall()
data

[]

Собираем книжки

In [8]:
link = 'https://book24.ru/novie-knigi/'
result = requests.get(link)
html = result.text
soup = BeautifulSoup(html,'html.parser')
info = soup.find_all('div', {'class':'product-card__content'})

In [9]:
authors = []
for book in info:
    inf = book.find_all('a', {'class':'author-list__item smartLink'})
    if len(inf) == 1:
        authors.append([inf[0].get_text()])
    elif len(inf) == 0:
        try:
            inf = book.find_all('span', {'class':'author-list__item'})
            authors.append([inf[0].get_text()])
        except:
            print(book)
    else:
        au = [i.get_text() for i in inf]
        authors.append(au)

<div class="product-card__content"><!-- --><div class="client-only-placeholder"><div class="vue-content-placeholders vue-content-placeholders-is-rounded vue-content-placeholders-is-animated" style="height:24px;"><div class="vue-content-placeholders-img" style="height:18px;width:150px;border-radius:9px;"></div></div></div><a class="product-card__name smartLink" href="/product/games-nastolnaya-igra-dzhenga-a2120-217585/" title="Настольная игра «Дженга»"> Настольная игра «Дженга» </a><!-- --><div class="product-card__buttons-holder"><button class="b24-btn product-card__add-to-cart _secondary _small _block" type="button"><!-- --> <span class="b24-btn__content"> В корзину </span></button><button aria-label="Отложить в избранное" class="add-favorites product-card__add-favorites" type="button"><svg class="add-favorites__icon icon sprite-24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><use href="/_nuxt/2925ed9ad4326d4b8da87d5b79cf5b33.svg#i-add-bookmark-24" xlink:href="/_nuxt/2925ed9ad4326d4b8da87d5b79cf5b33.svg#i-add-bookmark-24"></use></svg><!-- --></button></div></div>

In [10]:
authors

[['Сергей Тармашев'],
 ['Дженнифер Арментроут'],
 ['Дина Рубина'],
 ['Том Гримм'],
 ['Лия Стеффи'],
 ['Уилл Смит', 'Марк Мэнсон'],
 ['Себастьян Перез'],
 ['Виктория Кирдий'],
 ['Джеральд Бром'],
 ['Майк Омер'],
 ['Борис Гребенщиков'],
 ['Джо Аберкромби'],
 ['Дмитрий Веремеенко', 'Александр Фединцев', 'Бегмуродова Нигина Шавкатовна'],
 ['Рошани Чокши'],
 ['Дмитрий Туркан'],
 ['Лия Арден'],
 ['Ганс Андерсен', 'Эрнст Гофман', 'Гримм Якоб и Вильгельм'],
 ['Сергей Леонов', 'Татьяна Пахмутова-Манн'],
 ['Константин Малофеев'],
 ['Таня Лапуант'],
 ['Натали Макиенко'],
 ['Михаил Парфенов', 'Максим Кабир'],
 ['Леонид Парфенов'],
 ['Алекс Анжело'],
 ['Яцек Пекара'],
 ['Марина Мелия'],
 ['Борис Акунин'],
 ['Ирина Лилло'],
 ['Денис Ступников']]

In [11]:
books = soup.find_all('a', {'class':'product-card__name smartLink'})

In [12]:
books = [b.get_text().strip() for b in books]

In [13]:
books.remove('Настольная игра «Дженга»')

In [14]:
books[:5]

['Древний. Предыстория. Книга девятая. Мирные времена',
 'Королевство плоти и огня',
 'Маньяк Гуревич',
 'Кулинарная книга Гарри Поттера. Иллюстрированное неофициальное издание',
 'Мутный']

In [463]:
for book in books:
    category = str(rnd.randint(1, 7))
    pub_year = str(rnd.randint(2010, 2020))
    language = rnd.choice(['ru', 'en'])
    publisher = rnd.choice(['АСТ', 'Corpus', 'Эксмо'])
    num_copies = str(rnd.randint(1, 20))
#     num_avail = str(rnd.randint(0, num_copies))
    sss = "INSERT INTO books (title, category, pub_year, language, \
            publisher, num_copies, num_available) \
            VALUES ('{}')".format("', '".join([book, category, pub_year, language, \
                                              publisher, num_copies, num_copies]))
    cur.execute(sss)

In [465]:
con.commit()

In [90]:
cur.execute('SELECT * FROM books')
data=cur.fetchall()
data

[{'id_book': 1,
  'title': 'Древний. Предыстория. Книга девятая. Мирные времена',
  'pub_year': 2015,
  'language': 'ru',
  'publisher': 'Эксмо',
  'category': 1,
  'num_copies': 5,
  'num_available': 1},
 {'id_book': 2,
  'title': 'Маньяк Гуревич',
  'pub_year': 2014,
  'language': 'ru',
  'publisher': 'АСТ',
  'category': 2,
  'num_copies': 13,
  'num_available': 13},
 {'id_book': 3,
  'title': 'Кулинарная книга Гарри Поттера. Иллюстрированное неофициальное издание',
  'pub_year': 2012,
  'language': 'en',
  'publisher': 'АСТ',
  'category': 3,
  'num_copies': 14,
  'num_available': 14},
 {'id_book': 4,
  'title': 'Королевство плоти и огня',
  'pub_year': 2018,
  'language': 'ru',
  'publisher': 'Corpus',
  'category': 5,
  'num_copies': 5,
  'num_available': 5},
 {'id_book': 5,
  'title': 'Дом Гуччи. Сенсационная история убийства, безумия, гламура и жадности',
  'pub_year': 2015,
  'language': 'en',
  'publisher': 'АСТ',
  'category': 6,
  'num_copies': 12,
  'num_available': 12},
 {'id_book': 6,
  'title': 'Правление волков',
  'pub_year': 2014,
  'language': 'ru',
  'publisher': 'АСТ',
  'category': 4,
  'num_copies': 20,
  'num_available': 18},
 {'id_book': 7,
  'title': 'Мутный',
  'pub_year': 2020,
  'language': 'ru',
  'publisher': 'Corpus',
  'category': 3,
  'num_copies': 2,
  'num_available': 1},
 {'id_book': 8,
  'title': 'Will. Чему может научить нас простой парень, ставший самым высокооплачиваемым актером Голливуда',
  'pub_year': 2018,
  'language': 'ru',
  'publisher': 'Эксмо',
  'category': 1,
  'num_copies': 1,
  'num_available': 0},
 {'id_book': 9,
  'title': 'Волшебник страны Оз',
  'pub_year': 2011,
  'language': 'ru',
  'publisher': 'АСТ',
  'category': 4,
  'num_copies': 8,
  'num_available': 6},
 {'id_book': 10,
  'title': 'Улыбки и радость каждый день. Календарь на 2022 год',
  'pub_year': 2014,
  'language': 'en',
  'publisher': 'Corpus',
  'category': 6,
  'num_copies': 20,
  'num_available': 18},
 {'id_book': 11,
  'title': 'Косиног: История о колдовстве',
  'pub_year': 2016,
  'language': 'ru',
  'publisher': 'Эксмо',
  'category': 7,
  'num_copies': 19,
  'num_available': 19},
 {'id_book': 12,
  'title': 'Как ты умрешь',
  'pub_year': 2019,
  'language': 'en',
  'publisher': 'Corpus',
  'category': 3,
  'num_copies': 14,
  'num_available': 13},
 {'id_book': 13,
  'title': 'Бонусные годы. Индивидуальный план продления молодости на основе последних научных открытий',
  'pub_year': 2011,
  'language': 'en',
  'publisher': 'Corpus',
  'category': 2,
  'num_copies': 4,
  'num_available': 4},
 {'id_book': 14,
  'title': 'Священные места Индии',
  'pub_year': 2012,
  'language': 'en',
  'publisher': 'Эксмо',
  'category': 2,
  'num_copies': 7,
  'num_available': 6},
 {'id_book': 15,
  'title': 'Мудрость толпы',
  'pub_year': 2012,
  'language': 'ru',
  'publisher': 'Эксмо',
  'category': 4,
  'num_copies': 17,
  'num_available': 17},
 {'id_book': 16,
  'title': 'Магия флористики. Авторский курс аранжировки композиций: идеи, стиль и профессиональные приемы от Дмитрия Туркана',
  'pub_year': 2012,
  'language': 'en',
  'publisher': 'Corpus',
  'category': 6,
  'num_copies': 9,
  'num_available': 8},
 {'id_book': 17,
  'title': 'Бронзовые звери',
  'pub_year': 2014,
  'language': 'ru',
  'publisher': 'Corpus',
  'category': 1,
  'num_copies': 18,
  'num_available': 17},
 {'id_book': 18,
  'title': 'ЗОЖигательные праздники. Еда под вино!',
  'pub_year': 2018,
  'language': 'ru',
  'publisher': 'Эксмо',
  'category': 3,
  'num_copies': 20,
  'num_available': 19},
 {'id_book': 19,
  'title': 'Ресурс для сильной девочки: пошаговый детокс-план на каждый сезон',
  'pub_year': 2011,
  'language': 'ru',
  'publisher': 'Corpus',
  'category': 5,
  'num_copies': 14,
  'num_available': 13},
 {'id_book': 20,
  'title': 'Снежная королева. Щелкунчик. Госпожа Метелица',
  'pub_year': 2013,
  'language': 'ru',
  'publisher': 'Corpus',
  'category': 7,
  'num_copies': 7,
  'num_available': 4},
 {'id_book': 21,
  'title': 'Намедни. Наша эра. 2011-2015',
  'pub_year': 2012,
  'language': 'en',
  'publisher': 'Эксмо',
  'category': 1,
  'num_copies': 10,
  'num_available': 7},
 {'id_book': 22,
  'title': 'Самая страшная книга 2022',
  'pub_year': 2019,
  'language': 'en',
  'publisher': 'Эксмо',
  'category': 2,
  'num_copies': 11,
  'num_available': 11},
 {'id_book': 23,
  'title': 'Империя. Книга первая',
  'pub_year': 2014,
  'language': 'ru',
  'publisher': 'АСТ',
  'category': 3,
  'num_copies': 11,
  'num_available': 11},
 {'id_book': 24,
  'title': 'Дюна. Иллюстрированная история создания классики научной фантастики',
  'pub_year': 2013,
  'language': 'ru',
  'publisher': 'Corpus',
  'category': 5,
  'num_copies': 14,
  'num_available': 14},
 {'id_book': 25,
  'title': 'Метод Марины Мелия. Как усилить свою силу',
  'pub_year': 2015,
  'language': 'ru',
  'publisher': 'Corpus',
  'category': 6,
  'num_copies': 2,
  'num_available': 0},
 {'id_book': 26,
  'title': 'Меч ангелов',
  'pub_year': 2013,
  'language': 'en',
  'publisher': 'Эксмо',
  'category': 5,
  'num_copies': 3,
  'num_available': 1},
 {'id_book': 27,
  'title': 'После тяжелой продолжительной болезни. Время Николая II',
  'pub_year': 2013,
  'language': 'en',
  'publisher': 'Эксмо',
  'category': 6,
  'num_copies': 10,
  'num_available': 10},
 {'id_book': 28,
  'title': 'Сон и Пепел',
  'pub_year': 2017,
  'language': 'ru',
  'publisher': 'Corpus',
  'category': 7,
  'num_copies': 6,
  'num_available': 6},
 {'id_book': 29,
  'title': 'Формула мечты. Путь к счастливой жизни, в которой исполняются даже самые смелые желания',
  'pub_year': 2016,
  'language': 'ru',
  'publisher': 'Эксмо',
  'category': 1,
  'num_copies': 4,
  'num_available': 4}]

# authors

In [497]:
sss = f"DELETE FROM authors" # delete all rows
cur.execute(sss)
sss = f"ALTER TABLE authors AUTO_INCREMENT = 1"
cur.execute(sss)
con.commit()

In [498]:
cur.execute('SELECT * FROM authors')
data=cur.fetchall()
data

[]

In [483]:
authors_set = []
for elem in authors:
    if isinstance(elem, list):
        authors_set.extend(elem)
    else:
        authors_set.append(elem)

In [491]:
authors_set = set(authors_set)

In [499]:
for author in authors_set:
    sss = "INSERT INTO authors (name) \
            VALUES ('{}')".format(author)
    cur.execute(sss)

In [501]:
con.commit()

In [503]:
cur.execute('SELECT * FROM authors')
data=cur.fetchall()
data

[{'id_author': 1, 'name': 'Том Гримм'},
 {'id_author': 2, 'name': 'Ирина Лилло'},
 {'id_author': 3, 'name': 'Джо Аберкромби'},
 {'id_author': 4, 'name': 'Константин Малофеев'},
 {'id_author': 5, 'name': 'Ли Бардуго'},
 {'id_author': 6, 'name': 'Таня Лапуант'},
 {'id_author': 7, 'name': 'Дмитрий Туркан'},
 {'id_author': 8, 'name': 'Дина Рубина'},
 {'id_author': 9, 'name': 'Натали Макиенко'},
 {'id_author': 10, 'name': 'Сергей Тармашев'},
 {'id_author': 11, 'name': 'Дженнифер Арментроут'},
 {'id_author': 12, 'name': 'Татьяна Пахмутова-Манн'},
 {'id_author': 13, 'name': 'Себастьян Перез'},
 {'id_author': 14, 'name': 'Рошани Чокши'},
 {'id_author': 15, 'name': 'Лия Стеффи'},
 {'id_author': 16, 'name': 'Александр Фединцев'},
 {'id_author': 17, 'name': 'Дмитрий Веремеенко'},
 {'id_author': 18, 'name': 'Сергей Леонов'},
 {'id_author': 19, 'name': 'Бегмуродова Нигина Шавкатовна'},
 {'id_author': 20, 'name': 'Гримм Якоб и Вильгельм'},
 {'id_author': 21, 'name': 'Яцек Пекара'},
 {'id_author': 22, 'name': 'Виктория Кирдий'},
 {'id_author': 23, 'name': 'Эрнст Гофман'},
 {'id_author': 24, 'name': 'Алекс Анжело'},
 {'id_author': 25, 'name': 'Максим Кабир'},
 {'id_author': 26, 'name': 'Борис Гребенщиков'},
 {'id_author': 27, 'name': 'Борис Акунин'},
 {'id_author': 28, 'name': 'Уилл Смит'},
 {'id_author': 29, 'name': 'Леонид Парфенов'},
 {'id_author': 30, 'name': 'Джеральд Бром'},
 {'id_author': 31, 'name': 'Михаил Парфенов'},
 {'id_author': 32, 'name': 'Марина Мелия'},
 {'id_author': 33, 'name': 'Марк Мэнсон'},
 {'id_author': 34, 'name': 'Сара Гэй Форден'},
 {'id_author': 35, 'name': 'Майк Омер'},
 {'id_author': 36, 'name': 'Ганс Андерсен'}]

# authors2books

In [85]:
sss = f"DELETE FROM authors2books" # delete all rows
cur.execute(sss)
sss = f"ALTER TABLE authors2books AUTO_INCREMENT = 1"
cur.execute(sss)
con.commit()

In [91]:
cur.execute("SELECT * FROM books")
data=cur.fetchall()
data

[]

In [82]:
authors = [['Сергей Тармашев'],
 ['Дина Рубина'],
 ['Том Гримм'],  ['Дженнифер Арментроут'],
 ['Сара Гэй Форден'], ['Ли Бардуго'], ['Лия Стеффи'],
 ['Уилл Смит', 'Марк Мэнсон'],
 ['Себастьян Перез'],
 ['Виктория Кирдий'],
 ['Джеральд Бром'],
 ['Майк Омер'], ['Дмитрий Веремеенко', 'Александр Фединцев', 'Бегмуродова Нигина Шавкатовна'],
 ['Борис Гребенщиков'],
 ['Джо Аберкромби'], ['Дмитрий Туркан'],
 ['Рошани Чокши'], ['Сергей Леонов', 'Татьяна Пахмутова-Манн'],
 ['Натали Макиенко'],
 ['Ганс Андерсен', 'Эрнст Гофман', 'Гримм Якоб и Вильгельм'],
 ['Леонид Парфенов'], ['Михаил Парфенов', 'Максим Кабир'],
 ['Константин Малофеев'],
 ['Таня Лапуант'],
 ['Марина Мелия'],
 ['Яцек Пекара'],
 ['Борис Акунин'],
 ['Алекс Анжело'],
 ['Ирина Лилло']]

In [58]:
books = [book['title'] for book in data]

In [92]:
for author_book in list(zip(authors, books)):
    cur.execute("SELECT id_book FROM books\
                WHERE title LIKE '{}'".format(author_book[1]))
    id_book = cur.fetchall()[0]['id_book']
    
    
    for author in author_book[0]:
        cur.execute("SELECT id_author FROM authors\
                    WHERE name LIKE '{}'".format(author))
        id_author=cur.fetchall()[0]['id_author']
        
        sss = "INSERT INTO authors2books (id_author, id_book) \
            VALUES ('{}')".format("', '".join([str(id_author), str(id_book)]))    
        cur.execute(sss)
        con.commit()

In [537]:
cur.execute("SELECT * FROM authors2books, authors, books\
            WHERE books.id_book=authors2books.id_book AND \
            authors.id_author=authors2books.id_author AND \
            authors.id_author=12")
data=cur.fetchall()
data

[{'id_author': 12,
  'id_book': 18,
  'name': 'Татьяна Пахмутова-Манн',
  'title': 'ЗОЖигательные праздники. Еда под вино!',
  'category': 1,
  'pub_year': 2018,
  'language': 'ru',
  'publisher': 'Эксмо',
  'num_copies': 20,
  'num_available': 14}]

In [6]:
cur.execute("SELECT * FROM authors2books")
data=cur.fetchall()
data

[{'id_author': 10, 'id_book': 1},
 {'id_author': 8, 'id_book': 2},
 {'id_author': 1, 'id_book': 3},
 {'id_author': 11, 'id_book': 4},
 {'id_author': 34, 'id_book': 5},
 {'id_author': 5, 'id_book': 6},
 {'id_author': 15, 'id_book': 7},
 {'id_author': 28, 'id_book': 8},
 {'id_author': 33, 'id_book': 8},
 {'id_author': 13, 'id_book': 9},
 {'id_author': 22, 'id_book': 10},
 {'id_author': 30, 'id_book': 11},
 {'id_author': 35, 'id_book': 12},
 {'id_author': 17, 'id_book': 13},
 {'id_author': 16, 'id_book': 13},
 {'id_author': 19, 'id_book': 13},
 {'id_author': 26, 'id_book': 14},
 {'id_author': 3, 'id_book': 15},
 {'id_author': 7, 'id_book': 16},
 {'id_author': 14, 'id_book': 17},
 {'id_author': 18, 'id_book': 18},
 {'id_author': 12, 'id_book': 18},
 {'id_author': 9, 'id_book': 19},
 {'id_author': 36, 'id_book': 20},
 {'id_author': 23, 'id_book': 20},
 {'id_author': 20, 'id_book': 20},
 {'id_author': 29, 'id_book': 21},
 {'id_author': 31, 'id_book': 22},
 {'id_author': 25, 'id_book': 22},
 {'id_author': 4, 'id_book': 23},
 {'id_author': 6, 'id_book': 24},
 {'id_author': 32, 'id_book': 25},
 {'id_author': 21, 'id_book': 26},
 {'id_author': 27, 'id_book': 27},
 {'id_author': 24, 'id_book': 28},
 {'id_author': 2, 'id_book': 29}]

# Loans

In [606]:
sss = f"DELETE FROM loans" # delete all rows
cur.execute(sss)
sss = f"ALTER TABLE loans AUTO_INCREMENT = 1"
cur.execute(sss)
con.commit()

In [607]:
cur.execute("SELECT * FROM loans")
data=cur.fetchall()
data

[]

In [615]:
cur.execute("SELECT id_member, reg_date FROM members")
members=cur.fetchall()

for _ in range(40):
    member_info = rnd.choice(members)
    id_member, reg_date = str(member_info['id_member']), member_info['reg_date']
    
    cur.execute("SELECT id_book, num_available FROM books WHERE num_available > 0")
    books = cur.fetchall()
    book_info = rnd.choice(books)
    num_avail, id_book = book_info['num_available'], str(book_info['id_book'])
    
    date_st = reg_date + datetime.timedelta(days=rnd.randint(0,1460))
    date_end = date_st + datetime.timedelta(days=30)
    act_ret = rnd.choice([date_st + datetime.timedelta(days=rnd.randint(5,73)), None])
    
    date_end = date_end.strftime("%Y-%m-%d")
    date_st = date_st.strftime("%Y-%m-%d")
    if act_ret is None:
        sss = "INSERT INTO loans (members_id, book_id, date_st, date_end) \
                VALUES ('{}')".format("', '".join([id_member, id_book, date_st, date_end])) 
        cur.execute(sss)
    else:
        act_ret = act_ret.strftime("%Y-%m-%d")
        sss = "INSERT INTO loans (members_id, book_id, date_st, date_end, actual_return) \
            VALUES ('{}')".format("', '".join([id_member, id_book, date_st, date_end, act_ret])) 
        cur.execute(sss)
    
    update = "UPDATE books SET num_available = {} WHERE id_book = {}".format(num_avail-1, id_book) 
    cur.execute(update)

con.commit()

Даты возврата мы вписали, но счетчик в books не обновили. Сделаем же это

In [117]:
# выбираем книжки, которые вернули
cur.execute("SELECT COUNT(*) AS CNT, book_id FROM loans\
            WHERE actual_return IS NOT NULL GROUP BY book_id")
update_cnt=cur.fetchall()
update_cnt

[{'CNT': 1, 'book_id': 4},
 {'CNT': 1, 'book_id': 7},
 {'CNT': 1, 'book_id': 9},
 {'CNT': 1, 'book_id': 10},
 {'CNT': 1, 'book_id': 12},
 {'CNT': 1, 'book_id': 17},
 {'CNT': 1, 'book_id': 19},
 {'CNT': 2, 'book_id': 20},
 {'CNT': 1, 'book_id': 21},
 {'CNT': 2, 'book_id': 22},
 {'CNT': 1, 'book_id': 23},
 {'CNT': 1, 'book_id': 26},
 {'CNT': 1, 'book_id': 27},
 {'CNT': 1, 'book_id': 29}]

In [127]:
# update num_available
for u in update_cnt:
    cur.execute("UPDATE books SET num_available=num_available + {} \
                WHERE id_book={}".format(u['CNT'], u['book_id']))
    con.comit()

# Fees aka плоти нологи

In [19]:
cur.execute("SELECT DATEDIFF(actual_return, date_end) AS date_diff, id_loan, members_id \
                FROM loans WHERE date_end < actual_return") # книжку вернули, но она просрочена
return_c=cur.fetchall()

cur.execute("SELECT DATEDIFF(CURDATE(), date_end) AS date_diff, id_loan, members_id\
            FROM loans WHERE actual_return <=> NULL AND date_end < CURDATE()") # книжку не вернули и она просрочена
no_return_c=cur.fetchall()

In [21]:
no_return_c

[{'date_diff': 1076, 'id_loan': 2, 'members_id': 23},
 {'date_diff': 711, 'id_loan': 8, 'members_id': 20},
 {'date_diff': 231, 'id_loan': 9, 'members_id': 36},
 {'date_diff': 679, 'id_loan': 16, 'members_id': 18},
 {'date_diff': 65, 'id_loan': 20, 'members_id': 15},
 {'date_diff': 457, 'id_loan': 21, 'members_id': 30},
 {'date_diff': 417, 'id_loan': 22, 'members_id': 18},
 {'date_diff': 567, 'id_loan': 25, 'members_id': 36},
 {'date_diff': 117, 'id_loan': 27, 'members_id': 32},
 {'date_diff': 798, 'id_loan': 33, 'members_id': 6}]

In [20]:
return_c

[{'date_diff': 11, 'id_loan': 3, 'members_id': 41},
 {'date_diff': 28, 'id_loan': 12, 'members_id': 40},
 {'date_diff': 6, 'id_loan': 13, 'members_id': 7},
 {'date_diff': 28, 'id_loan': 17, 'members_id': 37},
 {'date_diff': 35, 'id_loan': 24, 'members_id': 22},
 {'date_diff': 12, 'id_loan': 26, 'members_id': 38},
 {'date_diff': 1, 'id_loan': 29, 'members_id': 37},
 {'date_diff': 2, 'id_loan': 34, 'members_id': 43},
 {'date_diff': 15, 'id_loan': 37, 'members_id': 4},
 {'date_diff': 41, 'id_loan': 39, 'members_id': 11},
 {'date_diff': 29, 'id_loan': 40, 'members_id': 40}]

In [159]:
s = 50

for f in return_c:
    paid = str(1)
    fee = str(f['date_diff']*s)
    sss = "INSERT INTO fees (fee_amount, loan_id, paid) \
            VALUES ({})".format(", ".join([fee, str(f['id_loan']), paid]))
    cur.execute(sss)

for f in no_return_c:
    paid = str(0)
    fee = str(f['date_diff']*s)
    sss = "INSERT INTO fees (fee_amount, loan_id, paid) \
            VALUES ({})".format(", ".join([fee, str(f['id_loan']), paid]))
    cur.execute(sss)

con.commit()

In [160]:
cur.execute("SELECT * FROM fees")
data=cur.fetchall()
data

[{'id_fee': 1, 'fee_amount': 550, 'loan_id': 3, 'paid': 1},
 {'id_fee': 2, 'fee_amount': 1400, 'loan_id': 12, 'paid': 1},
 {'id_fee': 3, 'fee_amount': 300, 'loan_id': 13, 'paid': 1},
 {'id_fee': 4, 'fee_amount': 1400, 'loan_id': 17, 'paid': 1},
 {'id_fee': 5, 'fee_amount': 1750, 'loan_id': 24, 'paid': 1},
 {'id_fee': 6, 'fee_amount': 600, 'loan_id': 26, 'paid': 1},
 {'id_fee': 7, 'fee_amount': 50, 'loan_id': 29, 'paid': 1},
 {'id_fee': 8, 'fee_amount': 100, 'loan_id': 34, 'paid': 1},
 {'id_fee': 9, 'fee_amount': 750, 'loan_id': 37, 'paid': 1},
 {'id_fee': 10, 'fee_amount': 2050, 'loan_id': 39, 'paid': 1},
 {'id_fee': 11, 'fee_amount': 1450, 'loan_id': 40, 'paid': 1},
 {'id_fee': 12, 'fee_amount': 53700, 'loan_id': 2, 'paid': 0},
 {'id_fee': 13, 'fee_amount': 35450, 'loan_id': 8, 'paid': 0},
 {'id_fee': 14, 'fee_amount': 11450, 'loan_id': 9, 'paid': 0},
 {'id_fee': 15, 'fee_amount': 33850, 'loan_id': 16, 'paid': 0},
 {'id_fee': 16, 'fee_amount': 3150, 'loan_id': 20, 'paid': 0},
 {'id_fee': 17, 'fee_amount': 22750, 'loan_id': 21, 'paid': 0},
 {'id_fee': 18, 'fee_amount': 20750, 'loan_id': 22, 'paid': 0},
 {'id_fee': 19, 'fee_amount': 28250, 'loan_id': 25, 'paid': 0},
 {'id_fee': 20, 'fee_amount': 5750, 'loan_id': 27, 'paid': 0},
 {'id_fee': 21, 'fee_amount': 39800, 'loan_id': 33, 'paid': 0}]

# Проверить, есть ли у меня читательский билет

In [104]:
def check_id(phone):
    cur.execute("SELECT id_member FROM members\
                WHERE phone={}".format(phone))
    data=cur.fetchall()
    if data != []:
        print('Номер вашего читательского билета: {}'.format(data[0]['id_member']))
        return data[0]['id_member']
    else:
        print('Номер читательского билета для номера телефона {} не найден.\
        \nПопробуйте еще раз или получите читательский билет'.format(phone))
    

name = str(input('Введите номер телефона: '))
member_id = check_id(name)

# Получить читательский билет

from datetime import date

In [106]:
def add_member(name, phone, email):
    reg_date = date.today().strftime("%Y-%m-%d")
    cur.execute("SELECT id_member, phone, email  FROM members \
                WHERE phone={} OR email LIKE '{}'".format(phone, email))
    data = cur.fetchall()
    
    if data == []:
        am = "INSERT INTO members (name, phone, email, reg_date) \
        VALUES ('{}', '{}', '{}', '{}')".format(name, phone, email, reg_date)
        cur.execute(am)
        con.commit()

        cur.execute("SELECT id_member FROM members ORDER BY id_member DESC LIMIT 1")
        data=cur.fetchall()
        print('\nВы успешно зарегестрированы!\
        \nНомер вашего читательского билета: {}'.format(data[0]['id_member']))
        return data[0]['id_member']
    else:
        
        print('\nПользователь с номером {} уже зарегестрирован.\
        \nНомер читательского билета: {}'.format(phone, data[0]['id_member']))
        return data[0]['id_member']

In [107]:
name, phone, email  = input('Введите ФИО: '), str(input('Введите номер телефона: ')), input('Введите email: ')
member_id = add_member(name, phone, email)

Введите ФИО: Пыжак Юлия Вячеславовна
Введите номер телефона: 8787322246
Введите email: sjgfkh@gmail.com

Вы успешно зарегестрированы!
Номер вашего читательского билета: 57

# Поиск по авторам, жанру и названию

In [108]:
def find_book(query):
    cur.execute("""SELECT * FROM (
                SELECT title, group_concat(DISTINCT name SEPARATOR ', ') as names, language, cat_name, pub_year, num_available, 
                books.id_book FROM authors, books, authors2books, category
                WHERE authors.id_author=authors2books.id_author 
                AND books.id_book=authors2books.id_book AND category.id_category=books.category
                GROUP BY id_book) as info
                WHERE info.title LIKE '%{}%'
                OR info.names LIKE '%{}%'
                OR info.cat_name LIKE '%{}%'
                """.format(query, query, query))
    data=cur.fetchall()
    if data==[]:
        print('По вашему запросу ничего не найдено')
    else:
        return pd.DataFrame.from_dict(data)

In [109]:
query = str(input('Введите слов(а) для поиска: '))
df = find_book(query)
df

Введите слов(а) для поиска: триллер

,title,names,language,cat_name,pub_year,num_available,id_book
0,Правление волков,Ли Бардуго,ru,Триллеры,2014,18,6
1,Волшебник страны Оз,Себастьян Перез,ru,Триллеры,2011,6,9
2,Мудрость толпы,Джо Аберкромби,ru,Триллеры,2012,17,15

## Взять книгу

In [110]:
def take_book(users_id):
    cur.execute("SELECT DISTINCT id_book, title FROM books LEFT JOIN loans \
                ON books.id_book=loans.book_id \
                WHERE id_book={} AND num_available > 0".format(df.iloc[users_id]['id_book']))
    avail=cur.fetchall()


    if avail == []: # check when book will be returned
        cur.execute("SELECT title, date_end FROM books LEFT JOIN loans \
                ON books.id_book=loans.book_id \
                WHERE id_book={} \
                ORDER BY date_end".format(df.iloc[users_id]['id_book']))
        data=cur.fetchall()
        print('К сожалению, сейчас нет доступных экземпляров книги "{}". \
        \nПредполагаемая дата возврата книги в библиотеку: {}'.format(data[0]['title'], data[0]['date_end']))

    else: # сделать запись в loan
        date_st = date.today()
        date_end = date_st + datetime.timedelta(days=30)

        date_end = date_end.strftime("%Y-%m-%d")
        date_st = date_st.strftime("%Y-%m-%d")
        id_book = str(avail[0]['id_book'])

        sss = "INSERT INTO loans (members_id, book_id, date_st, date_end) \
                VALUES ('{}')".format("', '".join([str(member_id), id_book, date_st, date_end])) 
        cur.execute(sss)
   
        # обновить avail в books
        sss = "UPDATE books SET num_available=num_available- 1\
                WHERE id_book={}".format(id_book, id_book) 
        cur.execute(sss)
        print('Вы успешно зарезервировали кингу "{}". \
        \nЕе необходимо вернуть до {}'.format(avail[0]['title'], date_end))

        con.commit()

In [111]:
users_id = int(input('Введите номер нужной книги: '))
take_book(users_id)

Введите номер нужной книги: 1
Вы успешно зарезервировали кингу "Волшебник страны Оз".
Ее необходимо вернуть до 2022-01-23

# Проверить, какие книжки на руках и продлить их

In [112]:
def check_my_books(member_id):
    cur.execute("SELECT title, date_end, id_book FROM books LEFT JOIN loans \
                ON books.id_book=loans.book_id \
                WHERE members_id={} \
                ORDER BY date_end".format(str(member_id)))
    data = cur.fetchall()
    if data != []:
        print("Ваши книги:")
        display(pd.DataFrame.from_dict(data))
    
        answer = input('Хотите продлить кингу? Да/Нет ')
        while answer.capitalize() == 'Да':
            book_id = int(input('Введите номер книги: '))
            update_date = """UPDATE loans SET date_end = DATE_ADD(date_end, INTERVAL 30 DAY)
                            WHERE book_id={} 
                            AND members_id={}""".format(str(data[book_id]['id_book']), member_id)
            cur.execute(update_date)
            
            cur.execute("""SELECT date_end FROM loans 
                            WHERE book_id={} 
                            AND members_id={}""".format(str(data[book_id]['id_book']), member_id))
            new_date = cur.fetchall()
            print("Дата возврата успешно изменена с {} на {}".format(data[book_id]['date_end'], new_date[0]['date_end']))
            answer = input('Хотите продлить кингу? Да/Нет ')
    else:
        print("Вы еще ничего не взяли из библиотеки")

In [113]:
check_my_books(member_id)

Ваши книги:

                 title    date_end  id_book
0  Волшебник страны Оз  2022-01-23        9

Хотите продлить кингу? Да/Нет да
Введите номер книги: 0
Дата возврата успешно изменена с 2022-01-23 на 2022-02-22
Хотите продлить кингу? Да/Нетнет

# Проверить, есть ли неоплаченные штрафы

In [114]:
def check_my_fees(member_id):
    cur.execute("SELECT DATEDIFF(CURDATE(), date_end) AS date_diff, \
                title, fee_amount FROM fees JOIN loans \
                ON fees.loan_id=loans.id_loan\
                JOIN books \
                ON books.id_book=loans.book_id\
                WHERE members_id={} AND\
                paid=0".format(str(member_id)))
    data = cur.fetchall()
    if data == []:
        print("У вас нет неоплаченных штрафов")
    else:
        for fee in data:
            print('Штраф за кннигу "{}" - {} р. Вы просрочили книгу на {} дня'.format(\
                                fee['title'], fee['fee_amount'], fee['date_diff']))

In [116]:
check_my_fees(15)

Штраф за кннигу "Намедни. Наша эра. 2011-2015" - 3150 р. Вы просрочили книгу на 65 дня

In [45]:
member_id

54

Удаление

In [119]:
cur.execute("SELECT id_loan FROM loans ORDER BY id_loan DESC LIMIT 5")
cur.fetchall()

[{'id_loan': 41},
 {'id_loan': 40},
 {'id_loan': 39},
 {'id_loan': 38},
 {'id_loan': 37}]

In [118]:
sss = "DELETE FROM loans ORDER BY id_loan DESC LIMIT 1" 
cur.execute(sss)

In [168]:
con.commit()

# Запросы

1. популярность разных авторов

In [9]:
cur.execute("""WITH full_authors AS (SELECT title, 
            GROUP_CONCAT(name SEPARATOR ', ') as cn_names, books.id_book
            FROM books, authors2books, authors
            WHERE 
            authors2books.id_author=authors.id_author
            AND authors2books.id_book=books.id_book
            GROUP BY books.id_book) 
            
            SELECT  cn_names, COUNT(DISTINCT(id_loan)) as cnt
            FROM loans, full_authors
            WHERE loans.book_id=full_authors.id_book
            GROUP BY cn_names
            ORDER BY cnt DESC
            LIMIT 5""")
data=cur.fetchall()

In [10]:
pd.DataFrame.from_dict(data)

                                            cn_names  cnt
0  Ганс Андерсен, Эрнст Гофман, Гримм Якоб и Виль...    5
1                                    Себастьян Перез    4
2                                    Сергей Тармашев    4
3                                    Виктория Кирдий    3
4                                    Леонид Парфенов    3

2. сумма неоплаченных штрафов по пользователю

In [101]:
cur.execute("""SELECT name, SUM(fee_amount) as total_fee
                FROM loans JOIN fees ON loans.id_loan=fees.loan_id
                JOIN members ON members.id_member=loans.members_id
                WHERE paid=0
                GROUP BY members_id""")
data=cur.fetchall()

In [102]:
pd.DataFrame.from_dict(data)

                              name total_fee
0       Воробьева Мадина Денисовна     53700
1          Королев Павел Андреевич     35450
2  Смирнова Кристина Александровна     39700
3   Яковлев Арсений Константинович     54600
4            Карпов Демид Глебович      3150
5          Кузина Таисия Артёмовна     22750
6            Черная Ника Романовна      5750
7    Кузнецова Вероника Викторовна     39800

3. люди, у которых неоплаченный штраф выше среднего по неоплаченным

In [99]:
cur.execute("""SELECT name, fee_amount FROM fees 
                JOIN loans ON fees.loan_id=loans.id_loan 
                RIGHT JOIN members ON members.id_member=loans.members_id
                WHERE paid=0 
                AND fee_amount > (
                SELECT ROUND(AVG(fee_amount)) FROM fees WHERE paid=0)
                ORDER BY fee_amount DESC""")
data=cur.fetchall()

In [100]:
pd.DataFrame.from_dict(data)

                              name  fee_amount
0       Воробьева Мадина Денисовна       53700
1    Кузнецова Вероника Викторовна       39800
2          Королев Павел Андреевич       35450
3   Яковлев Арсений Константинович       33850
4  Смирнова Кристина Александровна       28250

In [ ]:
cur.close()
con.close()